<div data-ng-init="vm.find()">
    
<div class="panel panel-primary">
    <div class="panel-heading">Swipes</div>
    <div class="panel-body">
    
    <table class="table table-striped">
        <tr>
            <th>RFID</th>
            <th>Fnamn</th>
            <th>Enamn</th>
        </tr>
        <tr ng-repeat="loggswipe in vm.loggswipes">
            <td>{{loggswipe.rfid}}</td>
            <td>{{loggswipe.fnamn}}</td>
            <td>{{loggswipe.enamn}}</td>
        </tr>        
</table>
</div>
</div>
<button class="btn btn-xm btn-danger" ng-click="vm.getloggswipe()">Hämta Logg</button>
</div>